@CHARSET "UTF-8";
body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	background-color: #eee;
}
#admin{
	width:340px;
	height:300px;
	position:absolute;
	top:45%;
	left:49%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
	padding: 20px;
}
.shouye_tubiao{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 80px;
    margin-top: 5px;
}
.shouye_tubiao2{
	color: #1296db;
	font-size: 14px;
	font-weight: 600;
	float: left;
	margin-top: 18px;
	cursor: pointer;
}